<div class="chat-container">
  <div class="chat-container__message">
    <p class="chat-container__message--sent">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut erat
      tellus. Nullam fringilla tellus.
    </p>
    <p class="chat-container__message--received">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas mollis
      mi ac nisl commodo, id maximus justo aliquam. In mattis tortor vel nibh
      feugiat, eu elementum lectus egestas. Vivamus viverra odio urna, at
      dapibus dui gravida et. In ligula elit, rutrum at sem et, consequat
      eleifend quam. Aliquam erat volutpat. Sed sit amet tempus augue. Sed id
      lacus et mauris eleifend venenatis. Sed diam lacus, elementum ut neque
      vitae, commodo placerat urna. Fusce ultricies dignissim orci nec maximus.
      Praesent posuere scelerisque metus, et pharetra velit lobortis ut. Fusce
      id mi orci. Mauris orci turpis, tincidunt non risus id, aliquet consequat
      lacus. Etiam urna enim, varius in rutrum ac, viverra non metus. Nullam
      dignissim, mauris non faucibus faucibus, metus felis vehicula ipsum, sed
      eleifend sapien lorem vitae orci. Morbi commodo eros eget purus iaculis
      molestie. Aenean in augue mi. Nullam et pulvinar elit. Nunc rutrum dui vel
      ultrices bibendum. Suspendisse suscipit accumsan nisi eget lobortis.
      Curabitur condimentum sodales lacus, sit amet maximus dolor laoreet sed.
      Sed suscipit odio ligula, quis vestibulum mi maximus id. Cras sit amet
      diam lobortis, iaculis tortor nec, faucibus lorem. Sed malesuada magna nec
      tellus efficitur mollis. Quisque vel facilisis sapien, vitae fringilla
      elit. Aliquam viverra odio quis lorem semper, nec cursus massa dapibus.
      Donec ut facilisis felis. Vivamus ut magna nisi. Praesent vitae massa
      consequat, convallis tellus vel, gravida orci. Duis velit tellus, volutpat
      accumsan rutrum eu, molestie eu mauris. Nunc sed rutrum velit. In eu
      libero a arcu consequat bibendum. Etiam at quam tellus. Praesent suscipit
      ex eu dolor elementum, quis porta sem semper. Cras viverra ex tempor
      lectus pellentesque accumsan. Donec pulvinar accumsan tempus. Quisque
      dignissim magna at commodo scelerisque. Fusce in felis non nibh ornare
      scelerisque ut eu lectus. Sed dapibus dui eu lorem semper, quis tempor dui
      viverra. Pellentesque ut pharetra lacus, et lacinia enim. Morbi nec tortor
      porttitor, tincidunt arcu et, consectetur justo. Aliquam non nulla ac
      lacus euismod bibendum. Mauris vitae justo dapibus, interdum lectus quis,
      faucibus nunc. Integer metus ligula, rhoncus vel neque eget, elementum
      euismod dui. Vestibulum aliquet lacus a dui ornare, tempus auctor odio
      interdum. Pellentesque ac arcu vulputate, pellentesque ex a, posuere
      purus. Maecenas massa neque, porttitor non viverra eu, efficitur sed
      felis. Nulla eget nisl tellus. Mauris ut justo blandit, ultricies eros a,
      euismod ex. Vestibulum iaculis posuere elit sit amet pharetra. Vivamus
      pharetra arcu a risus varius rhoncus. Aliquam erat volutpat. Fusce elit
      dolor, venenatis sollicitudin nisi sed, volutpat tincidunt mi. Maecenas
      pulvinar porta sodales. Suspendisse eros mi, efficitur eget sapien ut,
      pretium vulputate velit. In at mauris at mi cursus ultrices eu non risus.
      Orci varius natoque penatibus et magnis dis parturient montes, nascetur
      ridiculus mus. Sed et dui quis magna pharetra suscipit. Quisque ornare
      elit dignissim nibh lobortis dignissim. Cras non mauris sodales,
      scelerisque dolor ut, porta eros. Etiam volutpat consectetur maximus.
      Donec ultricies hendrerit pretium. Sed egestas volutpat consectetur.
      Phasellus pharetra erat id vulputate auctor. Curabitur tempus rhoncus
      placerat. Aliquam pellentesque massa a dui scelerisque, non suscipit nisi
      viverra. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
      mollis mi ac nisl commodo, id maximus justo aliquam. In mattis tortor vel
      nibh feugiat, eu elementum lectus egestas. Vivamus viverra odio urna, at
      dapibus dui gravida et. In ligula elit, rutrum at sem et, consequat
      eleifend quam. Aliquam erat volutpat. Sed sit amet tempus augue. Sed id
      lacus et mauris eleifend venenatis. Sed diam lacus, elementum ut neque
      vitae, commodo placerat urna. Fusce ultricies dignissim orci nec maximus.
      Praesent posuere scelerisque metus, et pharetra velit lobortis ut. Fusce
      id mi orci. Mauris orci turpis, tincidunt non risus id, aliquet consequat
      lacus. Etiam urna enim, varius in rutrum ac, viverra non metus. Nullam
      dignissim, mauris non faucibus faucibus, metus felis vehicula ipsum, sed
      eleifend sapien lorem vitae orci. Morbi commodo eros eget purus iaculis
      molestie. Aenean in augue mi. Nullam et pulvinar elit. Nunc rutrum dui vel
      ultrices bibendum. Suspendisse suscipit accumsan nisi eget lobortis.
      Curabitur condimentum sodales lacus, sit amet maximus dolor laoreet sed.
      Sed suscipit odio ligula, quis vestibulum mi maximus id. Cras sit amet
      diam lobortis, iaculis tortor nec, faucibus lorem. Sed malesuada magna nec
      tellus efficitur mollis. Quisque vel facilisis sapien, vitae fringilla
      elit. Aliquam viverra odio quis lorem semper, nec cursus massa dapibus.
      Donec ut facilisis felis. Vivamus ut magna nisi. Praesent vitae massa
      consequat, convallis tellus vel, gravida orci. Duis velit tellus, volutpat
      accumsan rutrum eu, molestie eu mauris. Nunc sed rutrum velit. In eu
      libero a arcu consequat bibendum. Etiam at quam tellus. Praesent suscipit
      ex eu dolor elementum, quis porta sem semper. Cras viverra ex tempor
      lectus pellentesque accumsan. Donec pulvinar accumsan tempus. Quisque
      dignissim magna at commodo scelerisque. Fusce in felis non nibh ornare
      scelerisque ut eu lectus. Sed dapibus dui eu lorem semper, quis tempor dui
      viverra. Pellentesque ut pharetra lacus, et lacinia enim. Morbi nec tortor
      porttitor, tincidunt arcu et, consectetur justo. Aliquam non nulla ac
      lacus euismod bibendum. Mauris vitae justo dapibus, interdum lectus quis,
      faucibus nunc. Integer metus ligula, rhoncus vel neque eget, elementum
      euismod dui. Vestibulum aliquet lacus a dui ornare, tempus auctor odio
      interdum. Pellentesque ac arcu vulputate, pellentesque ex a, posuere
      purus. Maecenas massa neque, porttitor non viverra eu, efficitur sed
      felis. Nulla eget nisl tellus. Mauris ut justo blandit, ultricies eros a,
      euismod ex. Vestibulum iaculis posuere elit sit amet pharetra. Vivamus
      pharetra arcu a risus varius rhoncus. Aliquam erat volutpat. Fusce elit
      dolor, venenatis sollicitudin nisi sed, volutpat tincidunt mi. Maecenas
      pulvinar porta sodales. Suspendisse eros mi, efficitur eget sapien ut,
      pretium vulputate velit. In at mauris at mi cursus ultrices eu non risus.
      Orci varius natoque penatibus et magnis dis parturient montes, nascetur
      ridiculus mus. Sed et dui quis magna pharetra suscipit. Quisque ornare
      elit dignissim nibh lobortis dignissim. Cras non mauris sodales,
      scelerisque dolor ut, porta eros. Etiam volutpat consectetur maximus.
      Donec ultricies hendrerit pretium. Sed egestas volutpat consectetur.
      Phasellus pharetra erat id vulputate auctor. Curabitur tempus rhoncus
      placerat. Aliquam pellentesque massa a dui scelerisque, non suscipit nisi
      viverra.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
      mollis mi ac nisl commodo, id maximus justo aliquam. In mattis tortor vel
      nibh feugiat, eu elementum lectus egestas. Vivamus viverra odio urna, at
      dapibus dui gravida et. In ligula elit, rutrum at sem et, consequat
      eleifend quam. Aliquam erat volutpat. Sed sit amet tempus augue. Sed id
      lacus et mauris eleifend venenatis. Sed diam lacus, elementum ut neque
      vitae, commodo placerat urna. Fusce ultricies dignissim orci nec maximus.
      Praesent posuere scelerisque metus, et pharetra velit lobortis ut. Fusce
      id mi orci. Mauris orci turpis, tincidunt non risus id, aliquet consequat
      lacus. Etiam urna enim, varius in rutrum ac, viverra non metus. Nullam
      dignissim, mauris non faucibus faucibus, metus felis vehicula ipsum, sed
      eleifend sapien lorem vitae orci. Morbi commodo eros eget purus iaculis
      molestie. Aenean in augue mi. Nullam et pulvinar elit. Nunc rutrum dui vel
      ultrices bibendum. Suspendisse suscipit accumsan nisi eget lobortis.
      Curabitur condimentum sodales lacus, sit amet maximus dolor laoreet sed.
      Sed suscipit odio ligula, quis vestibulum mi maximus id. Cras sit amet
      diam lobortis, iaculis tortor nec, faucibus lorem. Sed malesuada magna nec
      tellus efficitur mollis. Quisque vel facilisis sapien, vitae fringilla
      elit. Aliquam viverra odio quis lorem semper, nec cursus massa dapibus.
      Donec ut facilisis felis. Vivamus ut magna nisi. Praesent vitae massa
      consequat, convallis tellus vel, gravida orci. Duis velit tellus, volutpat
      accumsan rutrum eu, molestie eu mauris. Nunc sed rutrum velit. In eu
      libero a arcu consequat bibendum. Etiam at quam tellus. Praesent suscipit
      ex eu dolor elementum, quis porta sem semper. Cras viverra ex tempor
      lectus pellentesque accumsan. Donec pulvinar accumsan tempus. Quisque
      dignissim magna at commodo scelerisque. Fusce in felis non nibh ornare
      scelerisque ut eu lectus. Sed dapibus dui eu lorem semper, quis tempor dui
      viverra. Pellentesque ut pharetra lacus, et lacinia enim. Morbi nec tortor
      porttitor, tincidunt arcu et, consectetur justo. Aliquam non nulla ac
      lacus euismod bibendum. Mauris vitae justo dapibus, interdum lectus quis,
      faucibus nunc. Integer metus ligula, rhoncus vel neque eget, elementum
      euismod dui. Vestibulum aliquet lacus a dui ornare, tempus auctor odio
      interdum. Pellentesque ac arcu vulputate, pellentesque ex a, posuere
      purus. Maecenas massa neque, porttitor non viverra eu, efficitur sed
      felis. Nulla eget nisl tellus. Mauris ut justo blandit, ultricies eros a,
      euismod ex. Vestibulum iaculis posuere elit sit amet pharetra. Vivamus
      pharetra arcu a risus varius rhoncus. Aliquam erat volutpat. Fusce elit
      dolor, venenatis sollicitudin nisi sed, volutpat tincidunt mi. Maecenas
      pulvinar porta sodales. Suspendisse eros mi, efficitur eget sapien ut,
      pretium vulputate velit. In at mauris at mi cursus ultrices eu non risus.
      Orci varius natoque penatibus et magnis dis parturient montes, nascetur
      ridiculus mus. Sed et dui quis magna pharetra suscipit. Quisque ornare
      elit dignissim nibh lobortis dignissim. Cras non mauris sodales,
      scelerisque dolor ut, porta eros. Etiam volutpat consectetur maximus.
      Donec ultricies hendrerit pretium. Sed egestas volutpat consectetur.
      Phasellus pharetra erat id vulputate auctor. Curabitur tempus rhoncus
      placerat. Aliquam pellentesque massa a dui scelerisque, non suscipit nisi
      viverra.
    </p>
    <p class="chat-container__message--sent">Lorem ipsum dolor sit amet.</p>
    <p class="chat-container__message--received">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sapien odio,
      tristique non egestas ac, vulputate et turpis. Sed eget faucibus metus.
      Integer vel ultricies purus. Phasellus non molestie sapien. Phasellus
      egestas quam nec nisl malesuada convallis. Proin faucibus, ante at
      suscipit ultrices, felis eros cursus risus, id porttitor ligula turpis vel
      mauris. Aenean malesuada suscipit est nec finibus. Phasellus scelerisque
      congue purus, eget efficitur felis rhoncus sit amet. Nam sollicitudin
      euismod diam, et pulvinar purus dictum sit amet. Donec nibh ex, aliquet in
      justo at, congue pretium felis. Vestibulum eleifend vulputate iaculis.
      Suspendisse ac quam eget tortor fermentum rutrum. Donec efficitur pulvinar
      urna vitae porta. Etiam id varius nisl. Vivamus euismod sollicitudin
      nulla, non eleifend odio. Sed at nisi quam. Sed auctor tempor tempus.
      Fusce justo massa, lacinia quis fringilla eu, molestie nec sem. Quisque
      rhoncus malesuada lobortis. Vivamus volutpat velit eget erat posuere, ut
      pulvinar nibh tincidunt. Donec nec ipsum et nisl aliquet pharetra sit amet
      pretium arcu. Pellentesque volutpat, arcu sed efficitur dictum, ipsum
      neque vehicula urna, non aliquet urna est eget diam. Praesent sed libero
      nec ligula elementum pretium. Praesent sagittis mauris in ipsum molestie,
      et scelerisque nunc suscipit. Praesent ac risus interdum, posuere magna
      eu, posuere nulla. Suspendisse pulvinar sagittis pretium.
    </p>
    <app-chat-starrating></app-chat-starrating>
  </div>
</div>
