<div class="sidebar-container h-full">
  <div class="flex flex-col">
    <!-- <button class="btn-menu-sidebar" >
      <div class="flex flex-row justify-start items-center">
        <i
          class="icon icon-bars mr-2"
          style="width: 24px; height: 24px; background-color: black"
        ></i>
      </div>
    </button> -->
    <hr class="divider" />

    <button class="btn-configuracoes" (click)="showParams()">
      <div class="flex flex-row justify-start items-center">
        <i
          class="icon icon-gear mr-2"
          style="width: 24px; height: 24px; background-color: black"
        ></i>
        Parâmetros
      </div>
    </button>
    <hr class="divider" />

    <button class="btn-new-chat" (click)="startNewChat()">
      <div class="flex flex-row justify-start items-center">
        <i
          class="icon icon-plus mr-2"
          style="width: 24px; height: 24px; background-color: black"
        ></i>
        Novo chat
      </div>
    </button>

    <!-- <button class="new-chat-btn" (click)="startNewChat()">
      <div class="flex flex-row justify-start">
        <div
          class="icon icon-plus mr-2"
          style="width: 24px; height: 24px; background-color: white"
        ></div>
        Novo Chat
      </div>
    </button> -->
  </div>
  <hr class="divider" />

  <label class="text-lg mb-4">Base de Conhecimento:</label>
  <div class="mb-6">
    <select
      class="mt-1 block w-full py-2 px-3 border border-gray-700 bg-white rounded-md shadow-sm focus:outline-none focus:ring-stone-400 focus:border-stone-500 sm:text-base"
      (change)="onSelectIndex($event)"
    >
      <option *ngFor="let index of indices" [value]="index">{{ index }}</option>
    </select>
  </div>
  <hr class="divider" />

  <div class="chat-history">
    <ul class="space-y-2">
      <li
        *ngFor="let chat of chatHistory"
        (click)="selectChat(chat)"
        class="my-2 mx-6 px-4 py-2 border-2 border-gray-500 text-gray-700 rounded-lg bg-transparent hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-500"
      >
        {{ chat.description ? chat.description : "Chat com ID: " + chat._id }}
      </li>
    </ul>
  </div>
  <hr class="divider" />
</div>

<!-- Modal -->
<div class="modal" [ngClass]="{ 'is-active': showParamsModal }">
  <div class="modal-background" (click)="closeParamsModal()"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Parâmetros</p>
      <button
        class="delete"
        aria-label="close"
        (click)="closeParamsModal()"
      ></button>
    </header>
    <section class="modal-card-body">
      <!-- Sliders para os parâmetros -->
      <div class="slider-container">
        <div class="slider-header">
          <label>Top N documentos</label>
          <span>{{ azureParams.search_params.top_n_documents }}</span>
        </div>
        <input
          type="range"
          min="5"
          max="20"
          [(ngModel)]="azureParams.search_params.top_n_documents"
        />
      </div>
      <div class="slider-container">
        <div class="slider-header">
          <label>Temperatura</label>
          <span>{{ azureParams.llm_params.temperature }}</span>
        </div>
        <input
          type="range"
          min="0"
          max="1"
          step="0.1"
          [(ngModel)]="azureParams.llm_params.temperature"
        />
      </div>
      <div class="slider-container">
        <div class="slider-header">
          <label>Máximo de tokens</label>
          <span>{{ azureParams.llm_params.max_tokens }}</span>
        </div>
        <input
          type="range"
          min="256"
          max="4096"
          step="256"
          [(ngModel)]="azureParams.llm_params.max_tokens"
        />
      </div>
      <div class="slider-container">
        <div class="slider-header">
          <label>Top P</label>
          <span>{{ azureParams.llm_params.top_p }}</span>
        </div>
        <input
          type="range"
          min="0"
          max="1"
          step="0.1"
          [(ngModel)]="azureParams.llm_params.top_p"
        />
      </div>
      <div class="slider-container">
        <div class="slider-header">
          <label>Penalidade de frequência</label>
          <span>{{ azureParams.llm_params.frequency_penalty }}</span>
        </div>
        <input
          type="range"
          min="0"
          max="1"
          step="0.1"
          [(ngModel)]="azureParams.llm_params.frequency_penalty"
        />
      </div>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" (click)="updateParams()">Salvar</button>
      <button class="button" (click)="closeParamsModal()">Cancelar</button>
    </footer>
  </div>
</div>
