<div class="flex flex-col">
  <div class="h-[75vh] p-4 overflow-y-auto bg-pink-200">
    <div class="overflow-y-auto">
      <div class="bg-pink-400 p-6 m-3">
        msg 01... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed laoreet laoreet
        justo at dictum. Nullam blandit, ante sed consequat molestie, nibh felis
        egestas est, eget interdum quam erat molestie nibh. Sed lacinia ipsum ac
        orci efficitur malesuada a eu arcu. Cras gravida mauris sit amet felis
        rutrum, quis rhoncus purus fermentum. Maecenas quis mauris eu arcu
        condimentum molestie. Duis in arcu vel ipsum accumsan venenatis sed at
        neque. Maecenas nec ante commodo, malesuada odio in, suscipit dui. Donec
        pharetra eleifend enim, non efficitur lorem egestas in. Curabitur
        scelerisque urna id erat malesuada pellentesque. Duis et vestibulum est.
        Vivamus ac libero nisl. Etiam odio turpis, ultrices sit amet ante eget,
        aliquam facilisis dui. In semper nec nunc non placerat.
        <br>
      </div>
      <div class="bg-pink-500 p-6 m-3">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed laoreet laoreet
        justo at dictum. Nullam blandit, ante sed consequat molestie, nibh felis
        egestas est, eget interdum quam erat molestie nibh. Sed lacinia ipsum ac
        orci efficitur malesuada a eu arcu. Cras gravida mauris sit amet felis
        rutrum, quis rhoncus purus fermentum. Maecenas quis mauris eu arcu
        condimentum molestie. Duis in arcu vel ipsum accumsan venenatis sed at
        neque. Maecenas nec ante commodo, malesuada odio in, suscipit dui. Donec
        pharetra eleifend enim, non efficitur lorem egestas in. Curabitur
        scelerisque urna id erat malesuada pellentesque. Duis et vestibulum est.
        Vivamus ac libero nisl. Etiam odio turpis, ultrices sit amet ante eget,
        aliquam facilisis dui. In semper nec nunc non placerat. Morbi accumsan
        suscipit porta. Vivamus turpis elit, elementum eget nibh ac, maximus
        ultricies nulla. Vestibulum vel tellus at lectus pharetra tempus sed
        hendrerit erat. Maecenas fringilla quam nisl, id porttitor enim dignissim
        quis. Ut id sollicitudin nisi, nec porttitor quam. Quisque bibendum pulvinar
        imperdiet. Duis non lacus sed odio pellentesque placerat a sit amet tellus.
        Proin sollicitudin condimentum felis, non elementum augue venenatis sed.
        Maecenas id augue tincidunt, condimentum sapien et, tristique lacus. Proin
        fermentum ante orci, eget egestas tortor ullamcorper et. Praesent vitae
        rhoncus justo. Nam enim nunc, placerat eget fringilla a, tincidunt quis
        nisl. Sed pellentesque sollicitudin lacus, tincidunt varius metus
        ullamcorper at. Nunc vel lacus non nulla consequat tempor at vitae sem.
        Morbi eu tempor quam. Phasellus porta nunc nec volutpat porta. Vivamus
        auctor nibh a porta venenatis. Donec nisi ipsum, aliquam gravida semper in,
        malesuada sed ipsum. Duis nisl risus, rutrum a turpis a, eleifend elementum
        orci. In euismod semper semper. Aenean suscipit felis eu tortor volutpat
        sagittis. Cras posuere pharetra odio in aliquet. Aenean sollicitudin turpis
        sagittis erat eleifend iaculis. Cras nec eros mi. Morbi nulla turpis, dictum
        eu urna a, dignissim interdum arcu. In tincidunt neque dui, at faucibus arcu
        consequat laoreet. Sed finibus sit amet libero quis vehicula. Nam viverra
        purus sodales eros rhoncus, faucibus laoreet quam ornare. Nam condimentum
        lacus ac dui pulvinar, sed eleifend lorem vulputate. Phasellus non egestas
        felis. Curabitur magna dolor, vehicula eu erat ultricies, tempor viverra
        urna. Aliquam metus enim, luctus vulputate posuere non, venenatis at dui.
        Cras pretium sed neque ac pretium. Sed imperdiet porta nulla, sit amet
        lacinia nisl auctor vel. Duis vehicula iaculis est et pretium. Nam dapibus
        quis velit at vestibulum. Nam neque magna, vulputate vitae ullamcorper at,
        rutrum at leo. Class aptent taciti sociosqu ad litora torquent per conubia
        nostra, per inceptos himenaeos. Vestibulum in mauris dapibus, luctus augue
        non, rhoncus est. Quisque vitae dolor viverra, condimentum enim eget,
        suscipit augue. Cras luctus risus ac velit ultricies lobortis. Nulla
        facilisi. Suspendisse sed leo ut quam posuere rutrum. Vestibulum eleifend
        libero ac ex tempor, nec posuere tortor vestibulum. Vestibulum erat nunc,
        blandit eu diam at, vestibulum tincidunt ante. Mauris aliquam, nisl ac
        lobortis hendrerit, urna sapien sodales elit, a interdum libero dolor et
        nisl. Quisque in viverra odio. Integer metus turpis, lacinia nec odio ac,
        consequat pellentesque turpis. Ut convallis vestibulum diam eu rhoncus.
        Maecenas et turpis vitae massa sodales dapibus. Vestibulum purus ligula,
        ultrices finibus tristique volutpat, gravida a lacus. Integer sagittis eros
        eu pellentesque porttitor. Suspendisse velit ligula, blandit ac laoreet
        fermentum, fermentum at sapien. Aenean iaculis accumsan urna convallis
        faucibus. Orci varius natoque penatibus et magnis dis parturient montes,
        nascetur ridiculus mus. Suspendisse auctor ornare justo, ac congue ex
        blandit et. Phasellus consequat cursus posuere. Integer facilisis eleifend
        libero, nec iaculis arcu feugiat eu. Aenean rhoncus augue at lacus
        pellentesque malesuada. Proin tristique, urna quis finibus sodales, nulla
        sapien fermentum nulla, sit amet mattis ligula purus sed diam. Morbi ac
        ullamcorper elit, nec fermentum urna. Quisque id lacinia urna. Mauris
        vulputate urna odio, sit amet ultricies eros maximus sed. Proin eget
        consectetur ligula. Donec mattis et lorem sit amet hendrerit. Proin sagittis
        enim vitae nulla sagittis, at dapibus enim mollis. Ut varius enim efficitur
        leo consectetur ullamcorper. Sed interdum, neque non consectetur pretium,
        sapien nisi eleifend elit, et pretium ligula magna et tortor. Curabitur
        lacinia nibh nec placerat imperdiet. Maecenas at tincidunt neque. Vestibulum
        porttitor, risus eget aliquam vulputate, massa libero dictum dolor, a
        pellentesque nulla quam quis magna. Vestibulum tristique tincidunt lobortis.
        Pellentesque molestie semper leo, et tempus eros bibendum non. Fusce
        vehicula nec enim ac feugiat. Nullam a eros nibh. Proin efficitur ipsum
        ante, sed ultrices enim bibendum sed. Suspendisse commodo sapien et sapien
        suscipit sodales. Nullam fermentum magna leo, imperdiet aliquet mi
        ullamcorper non. Vivamus et lacinia orci. Cras vel sem nibh. Suspendisse
        semper non sapien ac feugiat. Vestibulum ac dictum massa. Integer tellus
        erat, finibus ut arcu eu, sagittis semper lacus. Etiam mattis quam sit amet
        ornare feugiat. Pellentesque suscipit sollicitudin ipsum vel dapibus. In nec
        arcu ac elit aliquet tristique efficitur ac leo. Nam vel tempor leo. Aliquam
        tincidunt mollis eros, vel luctus lectus ultrices sit amet. Cras ornare odio
        est, quis mattis est consequat et. Fusce neque est, bibendum feugiat
        ullamcorper quis, convallis non arcu. Nam quis nunc tincidunt neque viverra
        efficitur. Curabitur dictum sem sit amet malesuada sagittis. Aenean vitae
        nisl non magna efficitur blandit. Aliquam erat volutpat. Etiam scelerisque
        ipsum in neque dapibus pharetra. Vivamus tincidunt purus ipsum. Proin
        maximus pretium dui eget sollicitudin. Vestibulum auctor quam non tellus
        tempus, in aliquam ante consectetur. Maecenas augue sem, commodo eget
        fringilla nec, varius nec velit. Morbi eu dapibus turpis. Sed eu pharetra
        ligula, sit amet interdum quam. Vivamus dictum, libero a sollicitudin
        pretium, nunc justo vulputate orci, quis tincidunt ipsum mauris sed eros.
        Morbi varius mauris arcu, vitae finibus odio vestibulum vel. Vivamus non
        justo hendrerit, porttitor urna a, imperdiet lacus. Aliquam porttitor
        dignissim quam.
        <br>
      </div>
      <div class="bg-pink-600 p-6 m-3">
        3
        <br>
      </div>
    </div>
    <app-chat-starrating></app-chat-starrating>
  </div>
</div>
<!-- <div class="flex flex-col  h-[75vh]">

</div> -->
