@mixin svg-icon($name, $width: 1em, $height: 1em, $color: currentColor) {
  display: inline-block;
  background: no-repeat center center;
  background-size: contain;
  width: $width;
  height: $height;
  mask: url('/assets/icons/#{$name}.svg') no-repeat center;
  -webkit-mask: url('/assets/icons/#{$name}.svg') no-repeat center;
  background-color: $color;
}


.icon {
  &-gear {
    @include svg-icon('gear');
  }
  &-star {
    @include svg-icon('star');
  }
  &-arrow-left {
    @include svg-icon('arrow-left');
  }
  &-arrow-right {
    @include svg-icon('arrow-right');
  }
  &-base {
    @include svg-icon('base');
  }
  &-history {
    @include svg-icon('history');
  }
  // Adicione mais ícones conforme necessário
}
