<div
  class="bg-[#262626] h-[100%] flex flex-col transition-width duration-300 ease-in-out"
  [class.w-12]="!isExpanded"
  [class.w-64]="isExpanded"
>
  <div class="mt-4 ml-2 space-y-2">
    <button (click)="toggleSidebar()" class="text-white focus:outline-none">
      <i
        class="icon icon-side-menu"
        style="width: 24px; height: 24px; background-color: white"
      >
      </i>
    </button>
  </div>

  <hr class="m-6" />

  <ul class="mt-4 flex-1 space-y-2">
    <li class="flex items-center p-2 hover:bg-gray-700 rounded cursor-pointer">
      <i
        class="icon icon-base"
        style="width: 24px; height: 24px; background-color: white"
      >
      </i>
      <span class="ml-4 text-white" *ngIf="isExpanded"
        >Base de conhecimento</span
      >
    </li>
    <hr class="m-6" />
    <li class="flex items-center p-2 hover:bg-gray-700 rounded cursor-pointer">
      <i
        class="icon icon-history"
        style="width: 24px; height: 24px; background-color: white"
      >
      </i>
      <span class="ml-4 text-white" *ngIf="isExpanded">Histórico de chats</span>
    </li>
    <hr class="m-6" />
    <li class="flex items-center p-2 hover:bg-gray-700 rounded cursor-pointer">
      <i
        class="icon icon-gear"
        style="width: 24px; height: 24px; background-color: white"
      >
      </i>
      <span class="ml-4 text-white" *ngIf="isExpanded"
        >Configurações de chat</span
      >
    </li>
    <hr class="my-12 mx-6" />
  </ul>
</div>
