<app-navbar></app-navbar>
<div class="mt-40 container mx-auto p-4 max-w-sm">
  <h1 class="text-3xl font-bold text-center text-Zinc-900 m-6">Criar Senha</h1>
  <form (submit)="setPassword(); $event.preventDefault()">
    <div class="mb-4">
      <label for="password" class="block text-gray-700">Senha</label>
      <input
        type="password"
        id="password"
        [(ngModel)]="password"
        (input)="clearErrorMessage()"
        name="password"
        class="mt-1 p-2 w-full border rounded"
        required
        title="Senha deve conter entre 6 e 8 caracteres, incluindo letras, números e pelo menos um caractere especial"
        maxlength="8"
      />
    </div>
    <div class="mb-4">
      <label for="confirmPassword" class="block text-gray-700">Confirmar Senha</label>
      <input
        type="password"
        id="confirmPassword"
        [(ngModel)]="confirmPassword"
        (input)="clearErrorMessage()"
        name="confirmPassword"
        class="mt-1 p-2 w-full border rounded"
        required
        maxlength="8"
      />
    </div>
    <div *ngIf="errorMessage" class="text-red-500">{{ errorMessage }}</div>
    <div class="mt-4">
      <button
        type="submit"
        class="w-full border border-blue-700 text-blue-900 py-2 rounded-lg hover:bg-blue-100 focus:outline-none focus:ring-2 focus:ring-blue-500"
      >
        Criar Senha
      </button>
    </div>
  </form>
</div>
