.main-container {
  padding-top: 6rem; /* Ajuste o valor conforme a altura da navbar */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Para centralizar verticalmente */
  background-color: #f7f7f7;
}

.container {
  background-color: white; /* Se desejar um fundo branco para o formulário */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra suave ao formulário */
  padding: 2rem;
  border-radius: 8px; /* Cantos arredondados */
}
