@import "/src/styles/variables";

.modal.is-active {
  display: flex; /* Use flex para centralizar */
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 10, 10, 0.86);
  align-items: center;
  justify-content: center;
  z-index: 40;
  color: $grayscale-110;

  &__content {
    max-width: 500px;
    width: 100%;
    background-color: $grayscale-30;
  }
  &__header {
    display: flex;
    flex-direction: center;
    justify-content: space-between;
    align-items: center;
    margin: 16px;
  }
  &__header-title {
    font-weight: 700;
    font-size: 20px;
  }
  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-height: 60vh; /* Definindo a altura máxima do corpo do cartão */
    overflow-y: auto;
  }
  &__input-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8px;
  }
  &__input-label{
    font-size: 16px;
    font-weight: 600;
  }
  &__input-range{
    width: 25rem;
  }
  &__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 16px;
  }
  &__button {
    padding: 10px 20px;
    border-radius: 5px;
    &--save {
      border: 2px solid $primary-90;
      color: $primary-90;
      padding: 10px 20px;
      border-radius: 5px;
    }
    &--cancel {
      border: 2px solid $secondary-90;
      color: $secondary-90;
      padding: 10px 20px;
      border-radius: 5px;
    }
  }
}
